html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #303030;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  margin-block-start: 0;
  padding-inline-start: 20px;
}
